@page
@model KareAjans.Pages.Staffs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.PerformanceScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.PerformanceScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Contracts)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Contract ID</th>
                    <th>Actor</th>
                    <th>Total Price</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                @foreach (var item in Model.Staff.Contracts)
                {
                    <tr>
                        <td>
                            <a asp-page="/Contracts/Details" asp-route-id="@item.ID">
                                @Html.DisplayFor(modelItem => item.ID)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Actor, "ActorTemplate")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staff.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
